
@import "./themes.css";

.App {
  height: 100%;
  padding: 1em;
  background-color: var(--color-secondary);
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color-primary);
  outline: 1px solid var(--line-color-light);
  background-color: var(--color-primary);
  padding: 2em;
  height: fit-content;
  position: relative;
  margin: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--line-color-light);
  border-right: 1px solid var(--line-color-light);
  border-bottom: 1px solid var(--line-color-light);
  border-left: 1px solid var(--line-color-light);
  border-radius: 2px;
}

.App-body {
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
}

h1 {
  font-size: calc(30px + 6vmin);
  background: var(--font-color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--font-color-secondary);
}

h3 {
  text-align: left;
  font-weight: bold;
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--font-color-primary);
}

.button-secondary {
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
}

.tune-table {
  display: flex;
  flex-direction: column;
}

.tune-cell {
  padding: 8px;
  margin-right: 8px;
  align-items: flex-start;
  vertical-align: top;
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
  border-radius: 5px;
}

.search-utility {
  grid-column: auto / span 2;
}

.sort-utility {
  grid-column: auto / span 3;
}

.utility-bar {
  display: grid;
  height: fit-content;
  padding: 8px;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  color: var(--font-color-secondary);
  background-color: var(--color-secondary);
}

.tune-row {
  display: grid;
  height: fit-content;
  padding: 8px;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  background-color: var(--color-primary);
  border: 1px solid var(--line-color-light);
}

.tune-name {
  grid-column: auto / span 1;
  white-space: nowrap;
  overflow: hidden;
}

.tune-streaming-links {
  grid-column: auto / span 1;
  white-space: nowrap;
  overflow: hidden;
}

.tune-description {
  grid-column: auto / span 2;
  white-space: nowrap;
  overflow: hidden;
}

.tune-endorsements {
  grid-column: auto / span 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #d6ae37;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

.tune-row-expand {
  height: 12em;
}

.tune-details-expand {
  grid-column: auto / span 2;
}

.tune-details-edit {
  grid-column: auto / span 2;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: start;
}


input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
}

.add-url-button {
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-url-button:hover {
  background-color: #1ED760;
}

.remove-url-button {
  justify-self: end;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 2em;
  height: 2em;
}

.remove-url-button:hover {
  background-color: #FF4136;
}

.tune-description-expand {
  grid-column: auto / span 3;
  overflow-y: scroll;
}

.tune-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  grid-column: auto / span 1;
  background-color: var(--color-primary);
  border: 1px solid var(--line-color-light);
}

.tune-actions button {
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
  margin-bottom: 8px;
}

.streaming-link {
  color: inherit;
  color: rgb(140, 140, 255);
  text-decoration: underline;
  text-transform: capitalize;
}

textarea {
  width: 100%;
  height: 100%;
}

.dot {
  margin: 0 4px;
}

.add-spotify-current-button {
  grid-column: 1 / 2;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #1DB954;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-spotify-current-button:hover {
  background-color: #1ED760;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-list {
  border-bottom: 1px solid var(--line-color-light);
  padding-left: 0;
}

.tab-list-item {
  color: var(--font-color-secondary);
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: var(--color-primary);
  color: var(--font-color-primary);
  border: solid var(--line-color-light);
  border-width: 1px 1px 0 1px;
}

.tune-streaming-link {
  text-transform: capitalize;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  font-size: 14px;
}

.navigation a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.navigation a:hover {
  text-decoration: underline;
  border-radius: 10px;
  background-color: var(--line-color-light);
  color: var(--font-color-primary);
}

.navigation .dot {
  margin: 0 10px;
  color: var(--font-color-primary);
}

.authorize-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #1DB954;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.authorize-button:hover {
  background-color: #1ED760;
}

.authorize-button:active {
  background-color: #1DB954;
}

.authorize-button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.authorized {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #2ecc71;
  color: white;
}

.top, .bottom, .right, .left {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    var(--line-color-dark),
    var(--line-color-light)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    var(--line-color-light),
    var(--line-color-dark),
    transparent 50%
  );
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    var(--line-color-dark),
    var(--line-color-light)
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    var(--line-color-light),
    var(--line-color-dark),
    transparent 70%
  );
}

.top {
  animation: animateTop 3s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 3s ease-in-out infinite;
}

.right {
  animation: animateRight 3s ease-in-out infinite;
}

.left {
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}